In [54]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [55]:
df = pd.read_csv(r"C:\Users\Krishna\Downloads\Marketingcampaigns.csv")
df

,Customer id,Age,Gender,Location,Email Opened,Email Clicked,Product page visit,Discount offered,Purchased
0,1,22,0,Perth,1,1,3,1,1
1,2,55,0,Auckland,1,0,0,0,0
2,3,15,1,Sydney,0,1,2,1,1
3,4,25,0,Brisbane,1,1,5,1,0
4,5,36,1,Brisbane,0,1,1,1,0
5,6,30,0,Sydney,0,0,0,0,0
6,7,28,1,Sydney,0,0,3,1,1
7,8,19,1,Sydney,1,1,2,0,0
8,9,59,0,Perth,1,1,1,0,0
9,10,45,1,Auckland,0,0,0,0,0
10,11,43,0,Auckland,0,1,5,1,1
11,12,37,0,Perth,1,1,4,1,1
12,13,39,1,Perth,0,1,2,0,0
13,14,18,1,Perth,1,0,3,1,1
14,15,55,1,Perth,0,0,2,0,1
15,16,60,1,Sydney,1,0,0,0,0
16,17,53,1,Sydney,1,1,1,0,1
17,18,23,0,Perth,1,0,1,0,1
18,19,62,1,Perth,0,1,2,1,1
19,20,41,0,Brisbane,0,1,5,1,0

In [97]:
y =  df['Purchased'].values.ravel() #target_column
X =  df.drop('Purchased', axis = 1) #feature_column
label_encoder = LabelEncoder()
X['Location'] = label_encoder.fit_transform(X['Location'])
X

,Customer id,Age,Gender,Location,Email Opened,Email Clicked,Product page visit,Discount offered
0,1,22,0,2,1,1,3,1
1,2,55,0,0,1,0,0,0
2,3,15,1,3,0,1,2,1
3,4,25,0,1,1,1,5,1
4,5,36,1,1,0,1,1,1
5,6,30,0,3,0,0,0,0
6,7,28,1,3,0,0,3,1
7,8,19,1,3,1,1,2,0
8,9,59,0,2,1,1,1,0
9,10,45,1,0,0,0,0,0
10,11,43,0,0,0,1,5,1
11,12,37,0,2,1,1,4,1
12,13,39,1,2,0,1,2,0
13,14,18,1,2,1,0,3,1
14,15,55,1,2,0,0,2,0
15,16,60,1,3,1,0,0,0
16,17,53,1,3,1,1,1,0
17,18,23,0,2,1,0,1,0
18,19,62,1,2,0,1,2,1
19,20,41,0,1,0,1,5,1

In [102]:
X_train, y_train, X_test, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
y_train = y_train.values.flatten()
y_train.shape

(32,)

In [104]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

ValueError: Found input variables with inconsistent numbers of samples: [16, 32]